[Desktop Entry]
Type=Application
Name=Open a PED device
Exec=/usr/local/bin/open-ped-device-desktop-icon.sh
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
