[Desktop Entry]
Type=Application
Name=Create Electrum Desktop Icon
Exec=/usr/local/bin/keepassxc-desktop-icon.sh
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
