[Desktop Entry]
Type=Application
Name=Change the password of the live user
Exec=/usr/local/bin/password-changer-desktop-icon.sh
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
