[Desktop Entry]
Type=Application
Name=Change Password
Comment=Change the password of the live user
Exec=/usr/local/bin/password-changer.sh
Icon=password-changer
Terminal=false
Categories=Settings;Security;